body {
    background-color: aliceblue;
    text-align: center;
    color: black;
}


table {
    margin: 50px auto;
    background-color: bisque;
    border: 1px solid black;
}

td {
    border: 1px solid black;
    width: 20px;
    height: 25px;
}

.covered span {
    display: none;
    
}

.covered {
    background-color: gray;
}

.menu{
    margin-bottom: 20px;
}
.menu h2{
    background-color: aliceblue;
    display: inline;
    margin-right: 20px;
}

.menu button{
    background-color: aliceblue;
    display: inline;
    margin-right: 20px;
}

button.reset {
    background-color: aliceblue;
    cursor: pointer;
}


footer {
    margin-top: 100px;
}

.hints {
    cursor: pointer;
    letter-spacing: 30px;

}

.hints:hover{
    background-color: aquamarine;
}

.incorrect-mark{
    background-color: lightcoral;
}

.safe{
    background-color: lightgreen;
}

button.safe-click{
    background-color: #02A9E9;
    /* height: 50px; */
    cursor: pointer;
    color: aliceblue;
    padding: 30px;
    border:  white 4px solid;
    border-radius: 20px;
    margin-bottom: 20px;
}

.hint{
    margin-bottom: 10px;
    font-size: 20px;
    cursor: pointer;
}

.clicked-hint{
    background-color: yellow;
}